<div style="margin-top: 70px;"></div>
<hr>
<div class="header-container">
  <app-page-title [pageTitle]="pageTitle"></app-page-title>
</div>
<hr>

<div class="header-container">
  <div class="align-right">
    <button type="button" class="btn btn-sm btn-link btn-fw" id="importWorkOrder" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">Import/Export</button>
    <div class="dropdown-menu" aria-labelledby="importWorkOrder">
      <a *ngFor="let importMenu of importMenus" class="dropdown-item " href="#">{{importMenu}}</a>
    </div>
    <button type="button" class="btn btn-sm btn-link btn-fw" [routerLink]="['../settings/automated-workflows']">Automate
      Workflows</button>
    <!-- <button type="button" class="btn btn-sm btn-danger btn-rounded btn-fw"
          [routerLink]="['work-order-form']">Create work order</button> -->
    <button type="button" class="btn btn-sm btn-danger btn-rounded btn-fw" (click)="openDrawer()">Create Work
      Order</button>
  </div>
</div>
<hr>
<div class="header-container">
<div class="filterbar">
  <button type="button" class="btn btn-sm btn-primary btn-rounded btn-icon"><i class="icon-home"></i></button>
  <button type="button" class="btn btn-sm btn-light btn-fw"><i class="icon-people"></i> Everyone</button>
  <button type="button" class="btn btn-sm btn-light btn-fw"><i class="icon-map"></i> Anywhere</button>
  <button type="button" class="btn btn-sm btn-light btn-fw"><i class="icon-calendar"></i> Any Day</button>
  <button type="button" class="btn btn-sm btn-light btn-fw"><i class="icon-options"></i> By Status</button>
  <button type="button" class="btn btn-sm btn-light btn-fw"><i class="icon-chart"></i> Any Priority</button>
  <button type="button" class="btn btn-sm btn-light btn-fw"><i class="icon-tag"></i> Bookmarked</button>
  <button type="button" class="btn btn-sm btn-light btn-fw align-right"><i class="icon-energy"></i> Quick
    Filter</button>
</div>
</div>

<hr>

<div class="main-content">
  <!-- demo content -->
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Striped Table</h4>
        <p class="card-description"> Add class <code>.table-striped</code>
        </p>
        <table class="table table-striped">
          <thead>
            <tr>
              <th> User </th>
              <th> First name </th>
              <th> Progress </th>
              <th> Amount </th>
              <th> Deadline </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="py-1">
                <img src="../../assets/images/faces-clipart/pic-1.png" alt="image">
              </td>
              <td> Herman Beck </td>
              <td>
                <div class="progress">
                  <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </td>
              <td> $ 77.99 </td>
              <td> May 15, 2015 </td>
            </tr>
            <tr>
              <td class="py-1">
                <img src="../../assets/images/faces-clipart/pic-2.png" alt="image">
              </td>
              <td> Messsy Adam </td>
              <td>
                <div class="progress">
                  <div class="progress-bar bg-danger" role="progressbar" style="width: 75%" aria-valuenow="75"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </td>
              <td> $245.30 </td>
              <td> July 1, 2015 </td>
            </tr>
            <tr>
              <td class="py-1">
                <img src="../../assets/images/faces-clipart/pic-3.png" alt="image">
              </td>
              <td> John Richards </td>
              <td>
                <div class="progress">
                  <div class="progress-bar bg-warning" role="progressbar" style="width: 90%" aria-valuenow="90"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </td>
              <td> $138.00 </td>
              <td> Apr 12, 2015 </td>
            </tr>
            <tr>
              <td class="py-1">
                <img src="../../assets/images/faces-clipart/pic-4.png" alt="image">
              </td>
              <td> Peter Meggik </td>
              <td>
                <div class="progress">
                  <div class="progress-bar bg-primary" role="progressbar" style="width: 50%" aria-valuenow="50"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </td>
              <td> $ 77.99 </td>
              <td> May 15, 2015 </td>
            </tr>
            <tr>
              <td class="py-1">
                <img src="../../assets/images/faces-clipart/pic-1.png" alt="image">
              </td>
              <td> Edward </td>
              <td>
                <div class="progress">
                  <div class="progress-bar bg-danger" role="progressbar" style="width: 35%" aria-valuenow="35"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </td>
              <td> $ 160.25 </td>
              <td> May 03, 2015 </td>
            </tr>
            <tr>
              <td class="py-1">
                <img src="../../assets/images/faces-clipart/pic-2.png" alt="image">
              </td>
              <td> John Doe </td>
              <td>
                <div class="progress">
                  <div class="progress-bar bg-info" role="progressbar" style="width: 65%" aria-valuenow="65"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </td>
              <td> $ 123.21 </td>
              <td> April 05, 2015 </td>
            </tr>
            <tr>
              <td class="py-1">
                <img src="../../assets/images/faces-clipart/pic-3.png" alt="image">
              </td>
              <td> Henry Tom </td>
              <td>
                <div class="progress">
                  <div class="progress-bar bg-warning" role="progressbar" style="width: 20%" aria-valuenow="20"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </td>
              <td> $ 150.00 </td>
              <td> June 16, 2015 </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<button (click)="showData()">show data</button>