
.button-text{
    margin-left: 5px;
    font-size: 0.75rem;
}
.filter-btn{
    border-style: solid;
    border-color: grey;
    border-width: 1px;
    padding: 5px 12px;
    margin-left: 5px;
    background-color: inherit;
}
.filter-btn:hover{
    border-color: rgb(214, 214, 214);
    background-color: rgb(214, 214, 214);
}