<div class="content-wrapper">
  <!-- title for the page -->
  <div class="page-header">
    <app-page-title [pageTitle]="pageTitle"></app-page-title>
  </div>

  <div class="card card-secondary">
    <div class="toolbar d-flex ml-auto">
      <div class="btn-collapse">
        <button type="button" class="btn btn-sm btn-link btn-fw" id="importWorkOrder" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">Import/Export</button>
        <div class="dropdown-menu" aria-labelledby="importWorkOrder">
          <a *ngFor="let importMenu of importMenus" class="dropdown-item " href="#">{{importMenu}}</a>
        </div>
        <button type="button" class="btn btn-sm btn-link btn-fw"
          [routerLink]="['../settings/automated-workflows']">Automate Workflows</button>
      </div>


      <button type="button" class="btn btn-sm btn-danger btn-rounded btn-fw" (click)="openDrawer()">Create Work
        Order</button>
    </div>
  </div>

  <div class="card card-secondary">
    <div class="filterbar d-flex">
      <button type="button" class="btn btn-sm btn-primary btn-rounded btn-icon"><i class="icon-home"></i></button>
      <!-- class="btn btn-sm btn-light btn-fw -->
      <button type="button" class="rounded filter-btn"><i class="icon-people"></i> <span
          class="button-text d-none d-md-block">Everyone</span> </button>
      <button type="button" class="rounded filter-btn"><i class="icon-map"></i> <span
          class="button-text d-none d-md-block">Anywhere</span> </button>
      <button type="button" class="rounded filter-btn"><i class="icon-calendar"></i> <span
          class="button-text d-none d-md-block">Any Day</span> </button>
      <button type="button" class="rounded filter-btn"><i class="icon-options"></i> <span
          class="button-text d-none d-md-block">By Status</span> </button>
      <button type="button" class="rounded filter-btn"><i class="icon-chart"></i> <span
          class="button-text d-none d-md-block">Any Priority</span> </button>
      <button type="button" class="rounded filter-btn"><i class="icon-tag"></i> <span
          class="button-text d-none d-md-block">Bookmarked</span> </button>
      <button type="button" class="rounded filter-btn ml-auto"><i class="icon-energy"></i> <span
          class="button-text d-none d-md-block">Quick Filter</span> </button>

    </div>
  </div>


  <div class="main-content">
    <!-- demo content -->
    <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Striped Table</h4>
          <p class="card-description"> Add class <code>.table-striped</code>
          </p>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th> User </th>
                  <th> First name </th>
                  <th> Progress </th>
                  <th> Amount </th>
                  <th> Deadline </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="py-1">
                    <img src="../../assets/images/faces-clipart/pic-1.png" alt="image">
                  </td>
                  <td> Herman Beck </td>
                  <td>
                    <div class="progress">
                      <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </td>
                  <td> $ 77.99 </td>
                  <td> May 15, 2015 </td>
                </tr>
                <tr>
                  <td class="py-1">
                    <img src="../../assets/images/faces-clipart/pic-2.png" alt="image">
                  </td>
                  <td> Messsy Adam </td>
                  <td>
                    <div class="progress">
                      <div class="progress-bar bg-danger" role="progressbar" style="width: 75%" aria-valuenow="75"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </td>
                  <td> $245.30 </td>
                  <td> July 1, 2015 </td>
                </tr>
                <tr>
                  <td class="py-1">
                    <img src="../../assets/images/faces-clipart/pic-3.png" alt="image">
                  </td>
                  <td> John Richards </td>
                  <td>
                    <div class="progress">
                      <div class="progress-bar bg-warning" role="progressbar" style="width: 90%" aria-valuenow="90"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </td>
                  <td> $138.00 </td>
                  <td> Apr 12, 2015 </td>
                </tr>
                <tr>
                  <td class="py-1">
                    <img src="../../assets/images/faces-clipart/pic-4.png" alt="image">
                  </td>
                  <td> Peter Meggik </td>
                  <td>
                    <div class="progress">
                      <div class="progress-bar bg-primary" role="progressbar" style="width: 50%" aria-valuenow="50"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </td>
                  <td> $ 77.99 </td>
                  <td> May 15, 2015 </td>
                </tr>
                <tr>
                  <td class="py-1">
                    <img src="../../assets/images/faces-clipart/pic-1.png" alt="image">
                  </td>
                  <td> Edward </td>
                  <td>
                    <div class="progress">
                      <div class="progress-bar bg-danger" role="progressbar" style="width: 35%" aria-valuenow="35"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </td>
                  <td> $ 160.25 </td>
                  <td> May 03, 2015 </td>
                </tr>
                <tr>
                  <td class="py-1">
                    <img src="../../assets/images/faces-clipart/pic-2.png" alt="image">
                  </td>
                  <td> John Doe </td>
                  <td>
                    <div class="progress">
                      <div class="progress-bar bg-info" role="progressbar" style="width: 65%" aria-valuenow="65"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </td>
                  <td> $ 123.21 </td>
                  <td> April 05, 2015 </td>
                </tr>
                <tr>
                  <td class="py-1">
                    <img src="../../assets/images/faces-clipart/pic-3.png" alt="image">
                  </td>
                  <td> Henry Tom </td>
                  <td>
                    <div class="progress">
                      <div class="progress-bar bg-warning" role="progressbar" style="width: 20%" aria-valuenow="20"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </td>
                  <td> $ 150.00 </td>
                  <td> June 16, 2015 </td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>
  </div>
  <button (click)="showData()">show data</button>
</div>