<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item nav-profile">
            <a routerLink="#" class="nav-link">
                <div class="profile-image">
                    <img class="img-xs rounded-circle" src="../../assets/images/faces/face8.jpg" alt="profile image">
                    <div class="dot-indicator bg-success"></div>
                </div>
                <div class="text-wrapper">
                    <p class="profile-name">Allen Moreno</p>
                    <p class="designation">Administrator</p>
                </div>
                <div class="icon-container">
                    <i class="icon-bubbles"></i>
                    <div class="dot-indicator bg-danger"></div>
                </div>
            </a>
        </li>

        <!-- sidenav lists -->
        <br>
        <li class="nav-item" [ngClass]="{'active': isActive === 1}" (click)="isActive = 1">
            <a class="nav-link" routerLink="work-orders">
                <span class="menu-title">Work Orders</span>
                <i class=" icon-book-open menu-icon"></i>
            </a>
        </li>
        <li class="nav-item" [ngClass]="{'active': isActive === 2}" (click)="isActive = 2">
            <a class="nav-link" routerLink="reports">
                <span class="menu-title">Reports</span>
                <i class="icon-graph menu-icon"></i>
            </a>
        </li>
        <li class="nav-item" [ngClass]="{'active': isActive === 3}" (click)="isActive = 3">
            <a class="nav-link" routerLink="requests">
                <span class="menu-title">Requests</span>
                <i class=" icon-drawer menu-icon"></i>
            </a>
        </li>
        <li class="nav-item" [ngClass]="{'active': isActive === 4}" (click)="isActive = 4">
            <a class="nav-link" routerLink="shared-work-order">
                <span class="menu-title">Shared Work Order</span>
                <i class="icon-share-alt menu-icon"></i>
            </a>
        </li>
        <br>

        <li class="nav-item" [ngClass]="{'active': isActive === 5}" (click)="isActive = 5">
            <a class="nav-link" routerLink="locations">
                <span class="menu-title">Locations</span>
                <i class="icon-location-pin menu-icon"></i>
            </a>
        </li>
        <li class="nav-item" [ngClass]="{'active': isActive === 6}" (click)="isActive = 6">
            <a class="nav-link" routerLink="assets">
                <span class="menu-title">Assets</span>
                <i class="icon-chemistry menu-icon"></i>
            </a>
        </li>
        <li class="nav-item" [ngClass]="{'active': isActive === 7}" (click)="isActive = 7">
            <a class="nav-link" routerLink="parts">
                <span class="menu-title">Parts/Inventory</span>
                <i class="icon-wrench menu-icon"></i>
            </a>
        </li>
        <li class="nav-item" [ngClass]="{'active': isActive === 8}" (click)="isActive = 8">
            <a class="nav-link" routerLink="purchase-orders">
                <span class="menu-title">Purchase Orders</span>
                <i class="icon-book-open menu-icon"></i>
            </a>
        </li>
        <li class="nav-item" [ngClass]="{'active': isActive === 9}" (click)="isActive = 9">
            <a class="nav-link" routerLink="meters">
                <span class="menu-title">Meters</span>
                <i class="icon-speedometer menu-icon"></i>
            </a>
        </li>

        <br>
        <li class="nav-item" [ngClass]="{'active': isActive === 10}" (click)="isActive = 10">
            <a class="nav-link" routerLink="people">
                <span class="menu-title">People & Teams</span>
                <i class="icon-people menu-icon"></i>
            </a>
        </li>
        <li class="nav-item" [ngClass]="{'active': isActive === 11}" (click)="isActive = 11">
            <a class="nav-link" routerLink="vendors">
                <span class="menu-title">Vendors & Customers</span>
                <i class="icon-people menu-icon"></i>
            </a>
        </li>

        <br>
        <li class="nav-item" [ngClass]="{'active': isActive === 12}" (click)="isActive = 12">
            <a class="nav-link" routerLink="categories">
                <span class="menu-title">Categories</span>
                <i class="icon-tag menu-icon"></i>
            </a>
        </li>
        <li class="nav-item" [ngClass]="{'active': isActive === 13}" (click)="isActive = 13">
            <a class="nav-link" routerLink="files">
                <span class="menu-title">Files</span>
                <i class="icon-docs menu-icon"></i>
            </a>
        </li>
        <li class="nav-item" [ngClass]="{'active': isActive === 14}" (click)="isActive = 14">
            <a class="nav-link" routerLink="request-portal">
                <span class="menu-title">Request Portal</span>
                <i class="icon-drawer menu-icon"></i>
            </a>
        </li>

    </ul>
    <!-- <div style="padding: 20px;">
        <a href="/settings" style="color: inherit; text-decoration:none;"><i class="icon-settings icon-lg"></i></a>
    </div> -->
    <div class="d-flex justify-content-around">
        <div class="p-2 pb-5"><a routerLink="/settings" style="color: grey; text-decoration:none;"><i
                    class="icon-settings icon-md"></i></a></div>
        <div class="p-2"><a href="/contact-info" style="color: grey; text-decoration:none;"><i
                    class="icon-info icon-md"></i></a></div>
    </div>
</nav>