<div class="content-wrapper">
    <div class="card">
        <div class="card-body">
            <form [formGroup]="customerForm" (ngSubmit)="onSubmit()">
                <h4 class="card-title">Add Customer</h4>
                <div [formGroup]="customerDetails">
                    <div class="form-group">
                        <label>
                            Customer Name:
                        </label>
                        <input type="text" class="form-control" formControlName="name">
                    </div>

                    <div class="form-group">
                        <label>
                            Address:
                        </label>
                        <input type="text" class="form-control" formControlName="address">
                    </div>

                    <div class="form-group">
                        <label>
                            Phone:
                        </label>
                        <input type="text" class="form-control" formControlName="phone">
                    </div>

                    <div class="form-group">
                        <label>
                            Website:
                        </label>
                        <input type="text" class="form-control" formControlName="website">
                    </div>

                    <div class="form-group">
                        <label>
                            Email:
                        </label>
                        <input type="text" class="form-control" formControlName="email">
                    </div>

                    <div class="form-group">
                        <label>
                            Customer Type:
                        </label>
                        <input type="text" class="form-control" formControlName="customerType">
                    </div>

                    <div class="form-group">
                        <label>
                            Description:
                        </label>
                        <textarea class="form-control" rows="4" formControlName="desc"></textarea>
                    </div>
                </div>

                <h4 class="card-title">Billing Information</h4>
                <div [formGroup]="billingInformation">
                    <div class="form-group">
                        <label>
                            Name:
                        </label>
                        <input type="text" class="form-control" formControlName="name">
                    </div>

                    <div class="form-group">
                        <label>
                            Address:
                        </label>
                        <input type="text" class="form-control" formControlName="address">
                    </div>

                    <div class="form-group">
                        <label>
                            Address Line 2:
                        </label>
                        <input type="text" class="form-control" formControlName="addressLine2">
                    </div>

                    <div class="form-group">
                        <label>
                            Address Line 3:
                        </label>
                        <input type="text" class="form-control" formControlName="addressLine3">
                    </div>

                    <div class="form-group">
                        <label>
                            Currency:
                        </label>
                        <input type="text" class="form-control" formControlName="currency">
                    </div>

                </div>
                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                <button class="btn btn-light">Cancel</button>
            </form>
        </div>
    </div>
</div>