<div class="content-wrapper">
    <!-- title for the page -->
    <div class="page-header">
        <app-page-title [pageTitle]="pageTitle"></app-page-title>
    </div>
    <div class="card card-secondary">
        <div class="toolbar">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-sm btn-outline-secondary" [class.active]="viewMode == 'tab1'"
                    rel="tab1" (click)="viewMode ='tab1'"><i class="icon-list"></i> List
                    View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary" [class.active]="viewMode == 'tab2'"
                    rel="tab2" (click)="viewMode ='tab2'"><i class="icon-map"></i> Map
                    View</button>
            </div>


            <div class="align-right">
                <div class="dropdown" style="display: inline;">
                    <button type="button" class="btn btn-icon" id="pageMenus" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="icon-options-vertical"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="pageMenus">
                        <a *ngFor="let pageMenu of pageMenus" class="dropdown-item" href="#!">{{pageMenu}}</a>
                      </div>
                </div>
                
                <button type="button" class="btn btn-sm btn-danger btn-rounded btn-fw"
                    [routerLink]="['location-form']">Location</button>
            </div>
        </div>
    </div>

    <div class="main-content">
        <!-- demo content -->
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="tab-slider--container" [ngSwitch]="viewMode">
                        <div id="tab1" class="tab-slider--body" *ngSwitchCase="'tab1'">
                            <h2>List View</h2>
                            <p>Toggle switch style tab navigation. Currently only works with two tabs.</p>
                            <p>Donec ullamcorper nulla non metus auctor fringilla. Donec ullamcorper nulla non metus
                                auctor
                                fringilla. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis
                                vestibulum. Nullam
                                id
                                dolor id nibh ultricies vehicula ut id elit. Nulla
                                vitae elit libero, a pharetra augue.</p>
                        </div>
                        <div id="tab2" class="tab-slider--body" *ngSwitchCase="'tab2'">
                            <h2>Map View</h2>
                            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                                Cras mattis
                                consectetur purus sit amet fermentum. Nulla vitae elit libero, a pharetra augue. Cras
                                mattis
                                consectetur purus sit amet fermentum. Aenean eu leo
                                quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>