<div class="content-wrapper">
  <div class="card">
    <div class="card-body">
      <form [formGroup]="meterForm" (ngSubmit)="onSubmit()">

        <h3>Add Meter</h3>
        <div class="form-group">
          <label>
            Title:
          </label>
          <input type="text" class="form-control" formControlName="title">
        </div>

        <div class="form-group">
          <label>
            Unit of Measurement:
          </label>
          <input type="text" class="form-control" formControlName="uom">
        </div>

        <div class="form-group">
          <label>
            Upgrade Frequency:
          </label>
          <input type="text" class="form-control" formControlName="upgradeFrequency">
        </div>

        <div class="form-group">
          <label>
            Category:
          </label>
          <input type="text" class="form-control" formControlName="category">
        </div>

        <div class="form-group">
          <button class="btn btn-sm btn-link btn-fw" type="button" [routerLink]="['../../categories']">
            Manage Categories
          </button>
        </div>

        <div class="form-group">
          <label>
            Image:
          </label>
          <input type="text" class="form-control" formControlName="image">
        </div>

        <div class="form-group">
          <label>
            Workers:
          </label>
          <input type="text" class="form-control" formControlName="workers">
        </div>

        <div class="form-group">
          <label>
            Asset:
          </label>
          <input type="text" class="form-control" formControlName="asset">
        </div>

        <button class="btn btn-primary mr-2" type="submit">Submit</button>

      </form>
    </div>
  </div>
</div>