<div class="content-wrapper">
    <div class="card">
        <div class="card-body">
            <!-- title for the page -->
            <div class="page-header">
                <app-page-title [pageTitle]="pageTitle"></app-page-title>
            </div>
            <form [formGroup]="workOrderForm" (ngSubmit)="onSubmit()">

                
                <div class="form-group">
                    <label>
                        Title
                    </label>
                    <input type="text" class="form-control" formControlName="title">
                </div>
                <div class="form-group">
                    <label>
                        Description:
                    </label>
                    <input type="text" class="form-control" formControlName="desc">
                </div>
                <div class="form-group">
                    <label>
                        Image
                    </label>
                    <input type="text" class="form-control" formControlName="image">
                </div>
                <div class="form-group">
                    <label>
                        Due Date:
                    </label>
                    <div class="input-group date">
                        <div class="d-inline">
                            <input [matDatepicker]="picker" type="text" class="form-control" formControlName="dueDate">
                        </div>
                        <div class="d-inline">
                            <mat-datepicker-toggle matSuffix [for]="picker">
                                <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                            </mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Repeating Schedule</label>
                    <select class="form-control">
                        <option *ngFor="let repeatingSchedule of repeatingSchedules" [value]="repeatingSchedule">
                            {{repeatingSchedule}}</option>
                    </select>
                </div>

                <br>
                <p>
                    Priority:
                    <mat-button-toggle-group appearance="legacy" name="fontStyle" aria-label="Font Style"
                        formControlName="priority">
                        <mat-button-toggle value="none">None</mat-button-toggle>
                        <mat-button-toggle value="low">Low</mat-button-toggle>
                        <mat-button-toggle value="midium">Medium</mat-button-toggle>
                        <mat-button-toggle value="high">High</mat-button-toggle>
                    </mat-button-toggle-group>
                </p>
                <mat-form-field>
                    <mat-select formControlName="category" placeholder="Category">
                        <mat-option *ngFor="let category of categories" [value]="category">{{category}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-select formControlName="worker" placeholder="Worker">
                        <mat-option *ngFor="let worker of workers" [value]="worker">{{worker}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Additional Workers</mat-label>
                    <mat-select formControlName="additionalWorkers" multiple>
                        <mat-option *ngFor="let worker of workers" [value]="worker">{{worker}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-select formControlName="team" placeholder="Team">
                        <mat-option *ngFor="let team of teams" [value]="team">{{team}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-select formControlName="location" placeholder="Location">
                        <mat-option *ngFor="let location of locations" [value]="location">{{location}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Asset</mat-label>
                    <mat-select formControlName="assets" multiple>
                        <mat-option *ngFor="let asset of assets" [value]="asset">{{asset}}</mat-option>
                    </mat-select>
                </mat-form-field>

                tasks and file
                <mat-slide-toggle formControlName="signature">Requires Signature!</mat-slide-toggle>
                <br>
                <button mat-raised-button [disabled]="workOrderForm.invalid">Submit</button>

            </form>
        </div>
    </div>
</div>