
    <!-- title for the page -->
    <div class="page-header">
        <app-page-title [pageTitle]="pageTitle"></app-page-title>
    </div>
    <form [formGroup]="workOrderForm" (ngSubmit)="onSubmit()">
        <div class="card p-5">
            <h4>Add Work Order</h4>
            <br>

            <mat-form-field>
                <input matInput placeholder="Title" formControlName="title" required>
                <mat-error>This field is mandatory.</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Description</mat-label>
                <textarea matInput formControlName="desc"></textarea>
                <mat-hint align="end">Max length 500</mat-hint>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Image" formControlName="image">
            </mat-form-field>
            <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="Due Date" formControlName="dueDate">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
                <mat-select formControlName="repeatingSchedule" placeholder="Repeating Schedule">
                    <mat-option *ngFor="let repeatingSchedule of repeatingSchedules" [value]="repeatingSchedule">
                        {{repeatingSchedule}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Estimated Duration" formControlName="estimatedDuration">
            </mat-form-field>
            <br>
            <label>
                Priority:
                <mat-button-toggle-group appearance="legacy" name="fontStyle" aria-label="Font Style"
                    formControlName="priority">
                    <mat-button-toggle value="none">None</mat-button-toggle>
                    <mat-button-toggle value="low">Low</mat-button-toggle>
                    <mat-button-toggle value="midium">Medium</mat-button-toggle>
                    <mat-button-toggle value="high">High</mat-button-toggle>
                </mat-button-toggle-group>
            </label>
            <mat-form-field>
                <mat-select formControlName="category" placeholder="Category">
                    <mat-option *ngFor="let category of categories" [value]="category">{{category}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-select formControlName="worker" placeholder="Worker">
                    <mat-option *ngFor="let worker of workers" [value]="worker">{{worker}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Additional Workers</mat-label>
                <mat-select formControlName="additionalWorkers" multiple>
                    <mat-option *ngFor="let worker of workers" [value]="worker">{{worker}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-select formControlName="team" placeholder="Team">
                    <mat-option *ngFor="let team of teams" [value]="team">{{team}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-select formControlName="location" placeholder="Location">
                    <mat-option *ngFor="let location of locations" [value]="location">{{location}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Asset</mat-label>
                <mat-select formControlName="assets" multiple>
                    <mat-option *ngFor="let asset of assets" [value]="asset">{{asset}}</mat-option>
                </mat-select>
            </mat-form-field>

            tasks and file
            <br><br>
            <mat-slide-toggle formControlName="signature">Requires Signature!</mat-slide-toggle>
            <br>
            <button mat-raised-button [disabled]="workOrderForm.invalid">Submit</button>

        </div>
    </form>
