<mat-sidenav-container>
  <mat-sidenav #sidenav [(opened)]="sideDrawerOpened" mode="over" position="end" (opened)="log('Opened')"
    (closed)="log('Closed')"><app-work-order-form></app-work-order-form></mat-sidenav>
  <mat-sidenav-content>
    <app-navbar *ngIf="isLoggedIn === 'true'"></app-navbar>
    <!-- <app-navbar></app-navbar> -->
    <div class="container-fluid page-body-wrapper">
      <app-sidenav *ngIf="isLoggedIn === 'true'"></app-sidenav>
      <!-- <app-sidenav></app-sidenav> -->
      <div class="full-width">
        <!-- <app-settings-page></app-settings-page> -->
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>