<div class="content-wrapper">
    <!-- title for the page -->
    <div class="page-header">
        <app-page-title [pageTitle]="pageTitle"></app-page-title>
    </div>
    <div class="card card-secondary">
        <div class="toolbar d-flex">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-outline-secondary btn-sm" [class.active]="viewMode == 'tab1'"
                    rel="tab1" (click)="viewMode ='tab1'">People</button>
                <button type="button" class="btn btn-outline-secondary btn-sm" [class.active]="viewMode == 'tab2'"
                    rel="tab2" (click)="viewMode ='tab2'">Teams</button>
            </div>

            <div class="ml-auto">
                <button type="button" class="btn btn-sm btn-link btn-fw">Import</button>
                <span [ngSwitch]="viewMode">
                    <button type="button" class="btn btn-sm btn-danger btn-rounded btn-fw" (click)="openPeopleDialog()"
                        *ngSwitchCase="'tab1'">Person
                    </button>
                    <button type="button" class="btn btn-sm btn-danger btn-rounded btn-fw" (click)="openTeamDialog()"
                        *ngSwitchCase="'tab2'">Team
                    </button>
                </span>
            </div>
        </div>
    </div>

    <div class="main-content" [ngSwitch]="viewMode">
        <!-- demo content -->
        <div class="col-12 grid-margin stretch-card" *ngSwitchCase="'tab1'">
            <div class="card">
                <app-data-table></app-data-table>
            </div>
        </div>
        <div class="col-12 grid-margin stretch-card" *ngSwitchCase="'tab2'">
            <div class="col-md-8 grid-margin stretch-card m-auto">
                <div class="card">
                    <div class="card-body">
                        <div class="list-group">
                            <a class="list-group-item list-group-item-action" (click)="openTeamEditDialog()">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">Team Name</h5>
                                <small><i class="icon-people"></i> 3 Persons</small>
                                </div>
                                <small class="text-muted">Descriptions. Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem maxime repellendus modi corporis provident facere iure qui maiores. Obcaecati fuga modi, iure aperiam provident pariatur eveniet tempore similique corrupti asperiores!</small>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>