<div class="content-wrapper">
  <div class="card">
    <div class="card-body">
      <form [formGroup]="locationForm" (ngSubmit)="onSubmit()">

        <h3>Locations</h3>
        <div class="form-group">
          <label>
            Title:
          </label>
          <input type="text" class="form-control" formControlName="title">
        </div>

        <div class="form-group">
          <label>
            Address:
          </label>
          <input type="text" class="form-control" formControlName="address">
        </div>

        <div class="form-group">
          <label>
            Parent Location:
          </label>
          <input type="text" class="form-control" formControlName="parentLocation">
        </div>

        <div class="form-group">
          <label>
            Worker:
          </label>
          <input type="text" class="form-control" formControlName="worker">
        </div>

        <div class="form-group">
          <label>
            Team:
          </label>
          <input type="text" class="form-control" formControlName="team">
        </div>

        <div class="form-group">
          <label>
            Vendor:
          </label>
          <input type="text" class="form-control" formControlName="vendor">
        </div>

        <div class="form-group">
          <label>
            Customer:
          </label>
          <input type="text" class="form-control" formControlName="customer">
        </div>

        <div class="form-check form-check-flat form-check-primary">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" formControlName="isMapCordinate">Include map cordinates: <i
              class="input-helper"></i></label>
        </div>


        <button class="btn btn-primary mr-2" type="submit">Submit</button>

      </form>

    </div>
  </div>
</div>