<div class="content-wrapper" style="margin-top:0px; height: 100%;">
    <div class="text-center brand">
        <img src="../../assets/images/logo.svg" alt="" srcset="">
    </div>
    <div class="row flex-grow">
        <div class="col-lg-6 mx-auto">
            <div class="card" class="shadow p-3 mb-5 bg-white rounded" style="border-radius: 5px; margin-bottom: 70px;">
                <div class="auth-form-light text-left p-5">
                    <h3 class="display-4">Sign up!</h3>
                    <br>
                    <form [formGroup]="registerForm" (ngSubmit)="register()">
                        <label for="firstname">First Name:</label>
                        <input type="text" class="form-control" formControlName="firstname"/>
                        <br>
                        <label for="lastname">Last Name:</label>
                        <input type="text" class="form-control" formControlName="lastname"/>
                        <br>
                        <label for="email">Email:</label>
                        <input type="text" class="form-control" formControlName="email"/>
                        <br>
                        <label for="password">Password:</label>
                        <input type="password" class="form-control" formControlName="password"/>
                        <br>
                        <label for="phone">Phone Number:</label>
                        <input type="text" class="form-control" formControlName="phone"/>
                        <br>
                        <label for="business-type">Business Type</label>
                        <input type="text" class="form-control" formControlName="business_type"/>
                        <br>
                        <label for="role">Role:</label>
                        <input type="text" class="form-control" formControlName="role"/>
                        <br>
                        <button class="btn btn-success btn-sm m-0 w-100" type="submit">Register</button>
                    </form>
                    <br>
                    <footer>
                        <p>Already have an account? <a [routerLink]="['../login']">login</a></p>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</div>
