<form [formGroup]="teamForm" (ngSubmit)="onSubmit()">
  <div class="card p-3">
<h4>Create Team</h4>
<small class="text-muted">You can add team members to the team from here</small>
<br>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Name" formControlName="name">
    </div>

    <div class="form-group">
      <textarea class="form-control" rows="4" placeholder="Description" formControlName="desc"></textarea>
    </div>
    <mat-form-field appearance="outline">
      <mat-label>People in the team</mat-label>
      <mat-select formControlName="peopleInTeam" multiple>
        <mat-option *ngFor="let worker of workers" [value]="worker">{{worker}}</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button [disabled]="teamForm.invalid">Submit</button>
  </div>
  <!-- <h3>Create Team</h3>
      <div class="form-group">
        <label>
          Name:
        </label>
        <input type="text" class="form-control" formControlName="name">
      </div>

      <div class="form-group">
        <label>
          Description:
        </label>
        <input type="text" class="form-control" formControlName="desc">
      </div>

      <div class="form-group">
        <label>
          People in Team:
        </label>
        <input type="text" class="form-control" formControlName="peopleInTeam">
      </div>


      <button class="btn btn-primary mr-2" type="submit">Submit</button>
      <button class="btn btn-light">Cancel</button> -->
</form>