
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$wom-stellar-primary: mat-palette($mat-indigo);
$wom-stellar-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$wom-stellar-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$wom-stellar-theme: mat-light-theme($wom-stellar-primary, $wom-stellar-accent, $wom-stellar-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($wom-stellar-theme);

/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.full-width{
    // margin-top:70px;
    width:100%;
}
.page-body-wrapper{
    min-height: 100vh;
}
.content-wrapper{
    margin-top:70px;
    width:100%;
    height: calc(100% - 70px);
}
.align-right{
    float: right;
}
.filterbar>.btn-fw{
    min-width: 100px;
}
.toolbar{
    padding: 20px;
}
.filterbar{
    padding: 20px;
}
.main-content{
    margin-top: 20px;
}

.dropdown-item{
    font-size: .875rem;
}
.btn{
    margin-left: 5px;
}
.brand{
    margin:30px;
}
//testing
