<div class="content-wrapper">
    <form [formGroup]="purchaseOrderForm" (ngSubmit)="onSubmit()">
        <div class=" col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Purchase Order Details</h4>
                    <div formGroupName="purchaseOrderDetails">
                        <div class="form-group">
                            <label>
                                Title:
                            </label>
                            <input type="text" class="form-control" formControlName="title">
                        </div>

                        <div class="form-group">
                            <label>
                                Category:
                            </label>
                            <input type="text" class="form-control" formControlName="category">
                        </div>

                        <div class="form-group">
                            <label>
                                Due Date:
                            </label>
                            <div class="input-group date">
                                <div class="d-inline">
                                    <input [matDatepicker]="picker" type="text" class="form-control"
                                        formControlName="dueDate">
                                </div>
                                <div class="d-inline">
                                    <mat-datepicker-toggle matSuffix [for]="picker">
                                        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>
                                Vendors/Third Party:
                            </label>
                            <input type="text" class="form-control" formControlName="vendors">
                        </div>

                        <div class="form-group">
                            <label>
                                Additional Details:
                            </label>
                            <textarea class="form-control" rows="4" formControlName="additionalDetails"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Parts</h4>
                    <div formGroupName="parts">


                    </div>
                </div>
            </div>
        </div> -->

        <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Requester Information</h4>
                        <div formGroupName="requesterInformation">
                            <div class="form-group">
                                <label>
                                    Company Name:
                                </label>
                                <input type="text" class="form-control" formControlName="companyName">
                            </div>
                            <div formGroupName="address">
                                <div class="form-group">
                                    <label>
                                        Address:
                                    </label>
                                    <input type="text" class="form-control" formControlName="address">
                                </div>
                                <div class="form-group">
                                    <label>
                                        City:
                                    </label>
                                    <input type="text" class="form-control" formControlName="city">
                                </div>
                                <div class="form-group">
                                    <label>
                                        State:
                                    </label>
                                    <input type="text" class="form-control" formControlName="state">
                                </div>
                                <div class="form-group">
                                    <label>
                                        Zip code:
                                    </label>
                                    <input type="text" class="form-control" formControlName="zipCode">
                                </div>
                            </div>
                            <div class="form-group">
                                <label>
                                    Phone Number:
                                </label>
                                <input type="text" class="form-control" formControlName="phoneNumber">
                            </div>
                            <div class="form-group">
                                <label>
                                    Fax Number:
                                </label>
                                <input type="text" class="form-control" formControlName="faxNumber">
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Shipping Information</h4>
                        <div formGroupName="shippingInformation">
                            <div class="form-group">
                                <label>
                                    Use Company Address:
                                </label>
                                <input type="text" class="form-control" formControlName="useCompanyAddress">
                            </div>
                            <div class="form-group">
                                <label>
                                    Ship to Name:
                                </label>
                                <input type="text" class="form-control" formControlName="shipToName">
                            </div>
                            <div class="form-group">
                                <label>
                                    Company Name:
                                </label>
                                <input type="text" class="form-control" formControlName="companyName">
                            </div>
                            <div formGroupName="address">
                                <div class="form-group">
                                    <label>
                                        Address:
                                    </label>
                                    <input type="text" class="form-control" formControlName="address">
                                </div>
                                <div class="form-group">
                                    <label>
                                        City:
                                    </label>
                                    <input type="text" class="form-control" formControlName="city">
                                </div>
                                <div class="form-group">
                                    <label>
                                        State:
                                    </label>
                                    <input type="text" class="form-control" formControlName="state">
                                </div>
                                <div class="form-group">
                                    <label>
                                        Zip code:
                                    </label>
                                    <input type="text" class="form-control" formControlName="zipCode">
                                </div>
                            </div>
                            <div class="form-group">
                                <label>
                                    Phone Number:
                                </label>
                                <input type="text" class="form-control" formControlName="phoneNumber">
                            </div>
                            <div class="form-group">
                                <label>
                                    Fax Number:
                                </label>
                                <input type="text" class="form-control" formControlName="faxNumber">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Additional Information</h4>
                    <div formGroupName="additionalInformation">
                        <div class="form-group">
                            <label>
                                Purchase Order Date:
                            </label>
                            <input type="text" class="form-control" formControlName="purchaseOrderDate">
                        </div>
                        <div class="form-group">
                            <label>
                                Requisitioner:
                            </label>
                            <input type="text" class="form-control" formControlName="requisitioner">
                        </div>
                        <div class="form-group">
                            <label>
                                Shipping Method:
                            </label>
                            <input type="text" class="form-control" formControlName="shippingMethod">
                        </div>
                        <div class="form-group">
                            <label>
                                F.O.B Shipping Point:
                            </label>
                            <input type="text" class="form-control" formControlName="FOBShippingPoint">
                        </div>
                        <div class="form-group">
                            <label>
                                Terms:
                            </label>
                            <input type="text" class="form-control" formControlName="terms">
                        </div>
                        <div class="form-group">
                            <label>
                                Notes:
                            </label>
                            <textarea class="form-control" rows="4" formControlName="notes"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                <button class="btn btn-light">Cancel</button>
            </div>
        </div>
    </form>
</div>