<div class="content-wrapper">
    <div class="card">
        <div class="card-body">
            <h4>Request Checklist</h4>
        </div>
        <div class="card-body">
            <h4>Form Items</h4>

            <!-- add task dynamic form using formarray-->
            <form [formGroup]="requestFormTemplateForm" (ngSubmit)="onSubmit()">

                <div formGroupName="tasks">
                    <div formArrayName="taskItems"
                        *ngFor="let task of requestFormTemplateForm.get('tasks.taskItems').controls; let i = index">
                        <div [formGroupName]="i" class="row">
                            <div class="col-2">
                                <h1 class="display-2">{{i+1}}</h1>
                            </div>

                            <div class="col">
                                <div class="form-group">
                                    <label>
                                        Task:
                                    </label>
                                    <input type="text" class="form-control" formControlName="taskType">
                                </div>

                                <div class="form-group">
                                    <label>
                                        Question:
                                    </label>
                                    <input type="text" class="form-control" formControlName="question">
                                </div>

                                <div class="form-check form-check-flat form-check-primary">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input"
                                            formControlName="required">Required
                                        <i class="input-helper"></i>
                                    </label>
                                </div>
                                <hr>

                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-sm btn-link btn-fw" (click)="addTask()"> + Add
                        Task</button>
                </div>



                <!-- <div formGroupName="permissions">
                    <h4>Permissions</h4>
                    <div class="card">
                        <div class="card-body">
                            <ul class="list-group">
                                <li *ngFor="let permission of permissions" class="list-group-item">{{permission.desc}}
                                    <div class="d-inline float-right">
                                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                            <label class="btn btn-sm btn-secondary active">
                                                <input type="radio" [formControlName]="permission.name" value="optional">
                                                Optional
                                            </label>
                                            <label class="btn btn-sm btn-secondary">
                                                <input type="radio" [formControlName]="permission.name" value="hidden">
                                                Hidden
                                            </label>
                                            <label class="btn btn-sm btn-secondary">
                                                <input type="radio" [formControlName]="permission.name" value="required">
                                                Required
                                            </label>
                                        </div>
                                    </div>
                                    <br />
                                </li><br>
                            </ul>
                        </div>
                    </div>
                </div> -->
                <div formGroupName="permissions">
                    <h4>Permissions</h4>
                    <div class="card">
                        <div class="card-body">
                            <ul class="list-group">
                                <li class="list-group-item">Allow Requesters to set Asset
                                    <div class="float-right">
                                        <mat-button-toggle-group appearance="legacy" name="fontStyle"
                                            aria-label="Font Style" formControlName="setAsset">
                                            <mat-button-toggle value="optional">Optional</mat-button-toggle>
                                            <mat-button-toggle value="hidden">Hidden</mat-button-toggle>
                                            <mat-button-toggle value="required">Required</mat-button-toggle>
                                        </mat-button-toggle-group>
                                    </div>

                                </li>

                                <li class="list-group-item">Allow Requesters to set Location
                                    <div class="float-right">
                                        <mat-button-toggle-group appearance="legacy" name="fontStyle"
                                            aria-label="Font Style" formControlName="setLocation">
                                            <mat-button-toggle value="optional">Optional</mat-button-toggle>
                                            <mat-button-toggle value="hidden">Hidden</mat-button-toggle>
                                            <mat-button-toggle value="required">Required</mat-button-toggle>
                                        </mat-button-toggle-group>
                                    </div>
                                </li>
                               

                                <li class="list-group-item">Allow Requesters to set Worker Assigned
                                    <div class="float-right">
                                        <mat-button-toggle-group appearance="legacy" name="fontStyle"
                                            aria-label="Font Style" formControlName="setWorkerAssigned">
                                            <mat-button-toggle value="optional">Optional</mat-button-toggle>
                                            <mat-button-toggle value="hidden">Hidden</mat-button-toggle>
                                            <mat-button-toggle value="required">Required</mat-button-toggle>
                                        </mat-button-toggle-group>
                                    </div>
                                </li>
                                

                                <li class="list-group-item">Allow Requesters to set Due Date
                                    <div class="float-right">
                                        <mat-button-toggle-group appearance="legacy" name="fontStyle"
                                            aria-label="Font Style" formControlName="setDueDate">
                                            <mat-button-toggle value="optional">Optional</mat-button-toggle>
                                            <mat-button-toggle value="hidden">Hidden</mat-button-toggle>
                                            <mat-button-toggle value="required">Required</mat-button-toggle>
                                        </mat-button-toggle-group>
                                    </div>
                                </li>
                                

                                <li class="list-group-item">Allow Requesters to set Category
                                    <div class="float-right">
                                        <mat-button-toggle-group appearance="legacy" name="fontStyle"
                                            aria-label="Font Style" formControlName="setCategory">
                                            <mat-button-toggle value="optional">Optional</mat-button-toggle>
                                            <mat-button-toggle value="hidden">Hidden</mat-button-toggle>
                                            <mat-button-toggle value="required">Required</mat-button-toggle>
                                        </mat-button-toggle-group>
                                    </div>
                                </li>
                                

                                <li class="list-group-item">Allow Requesters to set Team
                                    <div class="float-right">
                                        <mat-button-toggle-group appearance="legacy" name="fontStyle"
                                            aria-label="Font Style" formControlName="setTeam">
                                            <mat-button-toggle value="optional">Optional</mat-button-toggle>
                                            <mat-button-toggle value="hidden">Hidden</mat-button-toggle>
                                            <mat-button-toggle value="required">Required</mat-button-toggle>
                                        </mat-button-toggle-group>
                                    </div>
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary mr-2" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>